<div class="container">
    <div class="col-md-6 mymargin">
        <div class="panel panel-warning">
            <div class="panel-heading text-center">
                Edit Product details
            </div>
            <div class="panel-body">
                <div *ngIf="product">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-sm-2">Name:</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="product.name" class="form-control" name="name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Price:</label>
                            <div class="col-sm-10">
                                <input [(ngModel)]="product.price" class="form-control" name="price">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" (click)="save()">Save</button>
                                <button class="btn btn-danger" (click)="goBack()">
    <span class="glyphicon glyphicon-arrow-left"></span>Back</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>