<div class="container">
    <div *ngIf="product">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h2>{{product.name}} details!</h2>
            </div>
            <div class="panel-body">
                <div>
                    <label>id: </label>{{product.id}}
                </div>
                <div>
                    <label>name: </label>{{product.name}}
                </div>
                <div>
                    <label>price: </label>{{product.price}}
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-info" (click)="goBack()">
                    <span class="glyphicon glyphicon-arrow-left"></span>Back
                </button>
            </div>
        </div>
    </div>
</div>




<!-- 
      Copyright 2017 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license
      -->